<div data-aos="zoom-out" class='about'>
	<div class='about_me_content'>
		<div class='about_title'>
			<h2>{{ 'ABOUT.ABOUT.TITLE' | translate }}</h2>
			<p>{{ 'ABOUT.ABOUT.CONTENT' | translate }}</p>
		</div>
		<div class='age_contry'>
			<div class='age'>
				<h2>{{ 'ABOUT.ABOUT.AGE' | translate }}</h2>
				<p>29</p>
			</div>
			<div class='contry'>
				<h2>{{ 'ABOUT.ABOUT.COUNTRY' | translate }}</h2>
				<p>{{ 'ABOUT.ABOUT.NAME' | translate }}</p>
			</div>
		</div>
	</div>
	<div class='designer'>
		<h2>{{ 'ABOUT.GRAPHIC-DESIGNER.TITLE' | translate }}</h2>
		<p>{{ 'ABOUT.GRAPHIC-DESIGNER.CONTENT' | translate }}</p>
	</div>
	<div class='dev_seo'>
		<div  class='dev'>
			<h2>{{ 'ABOUT.WEB-DEVELOPMENT.TITLE' | translate }}</h2>
			<p>{{ 'ABOUT.WEB-DEVELOPMENT.CONTENT' | translate }}</p>
		</div>
		<div class='seo'>
			<h2>{{ 'ABOUT.SEARCH-ENGINE-OPTIMIZATION.TITLE' | translate }}</h2>
			<p>{{ 'ABOUT.SEARCH-ENGINE-OPTIMIZATION.CONTENT' | translate }}</p>
		</div>
	</div>
	<div>
	</div>
</div>
