<div data-aos="zoom-out"class='content_portfolio'>
	<div class='portfolio_img'>
		<img src='./../../assets/images/BUR.png'>
		<a href='https://online-burgers.web.app/' target="_blank">{{ "PORTFOLIO.TITLE" | translate}}</a>
	</div>
	<div class='portfolio_img'>
		<img src='./../../assets/images/TRAV.png'>
		<a href='https://ibra110.github.io/Travel/' target="_blank">{{ "PORTFOLIO.TITLE" | translate}}</a>
	</div>
	<div class='portfolio_img'>
		<img src='./../../assets/images/TRAVB.png'>
		<a href='https://ibra110.github.io/TravelBergen/' target="_blank">{{ "PORTFOLIO.TITLE" | translate}}</a>
	</div>
	<div class='portfolio_img'>
		<img src='./../../assets/images/CAFF.png'>
		<a href='https://ibra110.github.io/Cafena/' target="_blank">{{ "PORTFOLIO.TITLE" | translate}}</a>
	</div>
	<div class='portfolio_img'>
		<img src='./../../assets/images/BOD.png'>
		<a href='https://ibra110.github.io/fitnes/' target="_blank">{{ "PORTFOLIO.TITLE" | translate}}</a>
	</div>
	<div class='portfolio_img'>
		<img src='./../../assets/images/CRIS.png'>
		<a href='https://ibra110.github.io/christmas/' target="_blank">{{ "PORTFOLIO.TITLE" | translate}}</a>
	</div>
</div>

