/* You can add global styles to this file, and also import other style files */

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body
{
	scroll-behavior: auto !important;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

/*input::-ms-clear{display: none;}*/
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

html{
	font-family: 'Open Sans', sans-serif;
	color: rgba(255,255,255);
	text-shadow: -1px -1px 0px rgba(0,0,0,0.3), 
			1px 1px 0px rgba(0,0,0,0.3);

	button{
		text-shadow: -1px -1px 0px rgba(0,0,0,0.3), 1px 1px 0px rgba(0,0,0,0.3);
	}
}

body{
	min-height: 50px;
	position: relative;
}
.black{
	background: rgb(9,18,33); 
	background: -moz-linear-gradient(top,  rgba(9,18,33,1) 0%, rgba(9,33,12,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(9,18,33,1) 0%,rgba(9,33,12,1) 100%);
	background: linear-gradient(to bottom,  rgba(9,18,33,1) 0%,rgba(9,33,12,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091221', endColorstr='#09210c',GradientType=0 );
	background-attachment: fixed;
}
.gray{
	background: rgb(135,135,135);
	background: -moz-linear-gradient(top,  rgba(135,135,135,1) 0%, rgba(28,28,28,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(135,135,135,1) 0%,rgba(28,28,28,1) 100%);
background: linear-gradient(to bottom,  rgba(135,135,135,1) 0%,rgba(28,28,28,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#1c1c1c',GradientType=0 );
	background-attachment: fixed;
}
.coral{
	background: rgb(206,200,18);
	background: -moz-linear-gradient(top,  rgb(206,200,18) 0%, rgba(0,160,155,1) 100%);
	background: -webkit-linear-gradient(top,  rgb(206,200,18) 0%,rgba(0,160,155,1) 100%);
	background: linear-gradient(to bottom,  rgb(206,200,18) 0%,rgba(0,160,155,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cec812', endColorstr='#00a09b',GradientType=0 );
	background-attachment: fixed;
}
.lightblue{
	background: rgb(32,168,186);
	background: -moz-linear-gradient(top,  rgba(32,168,186,1) 0%, rgba(196,31,31,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(32,168,186,1) 0%,rgba(196,31,31,1) 100%);
	background: linear-gradient(to bottom,  rgba(32,168,186,1) 0%,rgba(196,31,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a8ba', endColorstr='#c41f1f',GradientType=0 );
	background-attachment: fixed;
}
.purple{
	background: rgb(179,165,16);
	background: -moz-linear-gradient(top,  rgba(179,165,16,1) 0%, rgba(196,31,31,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(179,165,16,1) 0%,rgba(196,31,31,1) 100%);
	background: linear-gradient(to bottom,  rgba(179,165,16,1) 0%,rgba(196,31,31,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3a510', endColorstr='#c41f1f',GradientType=0 );
	background-attachment: fixed;
}
.popup{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	opacity: 0;
	transform: translate(-100%,-50%) scale(0);
	transition: 300ms ease;
	width: 200px;
	height: 200px;
	color: rgb(80, 153, 28);
	font-size: 120px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	box-shadow: -1px -1px 2px rgba(255,255,255,0.25), 
							inset -1px -1px 5px  rgba(255,255,255,0.25),
							8px 30px 30px rgba(0,0,0,0.4),
							inset -2px -2px 5px rgba(0,0,0,0.3);
}
.popup.showpopup{
	transform: translate(-100%,-50%) scale(1);
	opacity: 1;
}
@media (max-width: 768px){
	.popup.showpopup{
		transform: translate(-50%,-50%) scale(1);
		opacity: 1;
	}
}
