<div  data-aos="zoom-out" class='hh'>
	<div class='ava'>
		<div class='avatar'>
			<img src='./../../assets/images/my_photo.jpg'>
		</div>
		<div class='my_name'>
			<h2 >Mamedov Ibrahim</h2>
		</div>
	</div>
	<div class='home'>
		<h1 class='home_title'>{{ 'HOME.TITLE' | translate }}</h1>
		<p>{{ 'HOME.CONTENT' | translate }}<br><span>Bill Gates</span></p>
		<button [routerLink]="['/contact']">{{ 'HOME.BUTTON' | translate }}</button>
	</div>
	<div class='home'>
		<a href='./../../assets/pdf/cv.pdf' target="_blank">{{ 'HOME.DOWNLOAD' | translate }}</a>
	</div>
</div>
